@charset "UTF-8";

/* 共通部分
------------------------------------------------- */
html {
    font-size: 100%
}
body {
    font-family:"Yu Gothic Medium", "游ゴシック　Medium", "YuGothic", "游ゴシック体", "ピラギノ角ゴ　Pro W3", "sans-serif";
    line-height: 1.7;
    color: #432;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}
/* HEADER
------------------------------------------------- */
.logo {
    width: 210px;
    margin-top: 14px;
}
.main-nav {
    display: flex;
    font-size: 1.25rem;
    text-transform: uppercase;
    margin-top: 34px;
    list-style: none;
}
.main-nav li {
    margin-left: 36px;
}
.main-nav a {
    color: #432;
}
.main-nav a:hover {
    color: #0bd;
}
.page-header {
    display: flex;
    justify-content: space-between;
}
.wrapper {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 4%;
}

/* Menu
------------------------------------------------- */
#menu {
    background-image: url(../images/menu-bg.jpg);
    min-height: 100vh;
}
.big-bg {
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}
.page-title {
    font-size: 5rem;
    font-family: 'philosopher';
    text-transform: uppercase;
    font-weight: normal;
}
.menu-content {
    max-width: 560px;
    margin-top: 10%;
}
.menu-content .page-title {
    text-align: center;
}
.menu-content p {
    font-size: 1.125rem;
    margin: 10px 0 0;
}

/* Items
------------------------------------------------- */
.grid {
    display: grid;
    gap: 26px;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 6%;
    margin-bottom: 50px;
}
.big-box {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}
.big-box img {
    height: 94%;
    width: 100%;
    object-fit: cover;
}

/* Footer
------------------------------------------------- */
footer {
    background: #432;
    text-align: center;
    padding: 26px 0;
}
footer p {
    color: #fff;
    font-size: 0.875rem;
}

/* Responsive
------------------------------------------------- */
@media (max-width: 600px) {
  /* HEADER */
  .main-nav {
      font-size: 1rem;
      margin-top: 10px;
  }
  .main-nav li {
      margin: 0 20px;
  }
  .page-header {
      flex-direction: column;
      align-items: center;
  }

  /* Menu */
  #menu .page-title {
      margin-top: 30px;
      font-size: 2.5rem;
  }
  .menu-content {
      margin-top: 20%;
  }
  .grid {
      grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  }
  .big-box {
      grid-column: auto;
      grid-row: auto;
  }
  .big-box img {
      height: 100%;
  }
}
