@charset "UTF-8";
body {
  background-color: #f5F2E5;
  background-image: url(images/light-blue.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
html {
  font-size: 100%;
}
.item {
  background: #0bd;
  color: #fff;
  padding: 10px;
  margin: 10px;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  grid-template-rows: 200px 200px;
}
/* .item {
  background: #0bd;
  color: #fff;
  margin: 10px;
  padding: 10px;
} */
/* .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */
